* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

.container.login .full-page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0275d8;
  z-index: -1; /* Put the background behind other content */
}

.container.login {
  color: white;
  padding: 80px 0;
  text-align: center;
}

.container.login h1 {
  font-size: 40px;
  font-weight: 200;
}

.container.login form {
  padding: 20px 0;
  position: relative;
}
.container.login form input,
.container.login .dropdown-toggle {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.container.login form input::placeholder,
.container.login .dropdown-toggle {
  color: white;
}

.container.login form button:not(.dropdown-toggle) {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #0275d8;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.container.login .star-selector {
  margin-bottom: 10px;
}

.container.login .fas,
.container.login .far {
  font-size: 1.2rem;
}

.container.login .forgot-pass {
  margin: 10px auto;
}
